<!-- INICIO BARRA LATERAL DE MENÚ -->
<div class="flex-shrink-0 p-3 menu-compacto">

  <!-- INICIO LISTA OPCIONES -->
  <ul class="list-unstyled ps-0 fs-5">

    <li class="mb-1">
      <a id="captura_uniformes" class="btn btn-toggle align-items-center rounded collapsed w-100 text-light p-3"
        href="/app-swap/Uniformes/captura_tallas/captura_tallas.html">
        <i class="fa-solid fa-shirt"></i>
        <span>Captura de uniformes</span>
      </a>
    </li>

    <li class="border-top my-2"></li>

    <li class="mb-1">
      <a id="progreso_uniformes" class="btn btn-toggle align-items-center rounded collapsed w-100 text-light p-3"
        href="/app-swap/Uniformes/progreso_captura/progreso_captura.html">
        <i class="fa-solid fa-rectangle-list"></i>
        <span>Progreso de Captura</span>
      </a>
    </li>

    <li class="border-top my-2"></li>

    <li class="mb-1">
      <a id="reportes_uniformes" class="btn btn-toggle align-items-center rounded collapsed w-100 text-light p-3"
        href="/app-swap/Uniformes/reportes_uniformes/reportes_uniformes.html">
        <i class="fa-solid fa-clipboard"></i>
        <span>Reportes de Uniformes</span>
      </a>
    </li>

    <li class="border-top my-2"></li>

    <li class="mb-1">
      <a id="reporte_general" class="btn btn-toggle align-items-center rounded collapsed w-100 text-light p-3"
        href="/app-swap/Uniformes/reporte_general/reporte_general.html">
        <i class="fa-solid fa-clipboard-check"></i>
        <span>Reporte General</span>
      </a>
    </li>

    <li class="border-top my-2"></li>

    <li class="mb-1">
      <a id="control_uniformes" class="btn btn-toggle align-items-center rounded collapsed w-100 text-light p-3"
        href="/app-swap/Uniformes/control_captura/control_captura.html">
        <i class="fa-solid fa-ban"></i>
        <span>Control de Captura</span>
      </a>
    </li>

    <li class="border-top my-2"></li>

    <li class="nav-item mb-1">
      <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
        href="/app-swap/index.html">
        <div class="d-flex align-items-center gap-2">
          <i class="fas fa-undo-alt"></i>
          <span>Regresar Men&uacute; Principal</span>
        </div>
      </a>
    </li>

  </ul>
  <!-- FIN DE LISTA OPCIONES -->

</div>
<!-- FIN BARRA LATERAL -->