/* ESTE ES EL BODY DEL LOGIN */
:root{
  --background-dark: rgb(8, 8, 8);
  --background2-dark: #1b1b1b;
  --background3-dark: #535353;
  --color-hover: #474747;
  --color2-hover: rgb(153, 0, 255);
  --color-border: #868686;
  --color-dark: white;
  --btn-success: rgb(118, 183, 41);
}
body {
  background: var(--background-dark);
}
/* ESTILO DEL CARD DEL LOGIN */
#card_login .izquierdo {
    background: color-mix(in srgb, var(--background-dark), transparent 20%);
    border-right: 1.5px solid var(--btn-success);
    color: var(--color-dark);
}
#card_login section #ingresaUsuario, #card_login section #ingresaPassword{
  background-color: var(--background-dark) !important;
}
/* forzar color cuando el navegador autocompleta */
#card_login input:-webkit-autofill,
#card_login input:-webkit-autofill:hover,
#card_login input:-webkit-autofill:focus,
#card_login input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px var(--background-dark) inset !important;
  -webkit-text-fill-color: var(--color-dark) !important;
}

/* TODOS LOS BOTONES QUE TENGAN ESTA CLASE SERAN DE ESTE COLOR */
.btn-sistema {
  background: var(--btn-success);
  border-color: var(--btn-success);
  color: #000000 !important;
}
.btn-sistema:hover {
  background: var(--btn-prymary);
  border-color: var(--btn-prymary);
  color: #ffffff !important;
}
/* color de la Animacion para el loader de carga  */
.loader {
  background-image: url("../../img/RTP_loading_light.png");
}
/* Primer cuadrado */
.loader::before {
  background-color: var(--background-dark);
}
/* Segundo cuadrado */
.loader::after {
  background-color: var(--background-dark);
}
/* Texto de cargando */
.loading-text {
  color: var(--color-dark);
}
.contenedor_carga {
  background-color: var(--background-dark);
}

/* estlo del header */
header nav{
  background: color-mix(in srgb, var(--background-dark), transparent 10%) !important;
  color: var(--color-dark);
}
header nav .moon{
  color: var(--color-dark) !important;
}

footer {
  color: var(--color-dark);
}
/* SIDEBAR */
.sidebar{
    background: linear-gradient(to bottom, rgba(17, 17, 17), rgba(17, 17, 17, 0.699));
    border-right: 1px solid var(--btn-success);
}
hr{
    color: var(--color-dark);
}
/* iconos */
.menu i,
.menu svg{
  color: var(--color-dark);
  fill: var(--color-dark);
}
/* texto oculto */
.menu span{
    color: var(--color-dark);
}
/* Aplicar hover al contenedor <a> */
.menu li a:hover {
    background-color: var(--btn-success) !important; 
}
/* forzamos el hover en el icono y el span */
.menu li a:hover i,
.menu li a:hover svg,
.menu li a:hover span {
    color: var(--background-dark) !important;
}

/* menu hamburguesa */
.hamburger span{
    background: var(--color-dark);
}