<!-- MODAL -->
<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5>Buscar Material</h5>
                <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="buscar-material-modal-entrada" class="form-control mb-3"
                    placeholder="Buscar por código o descripción...">
                <div id="contenedor-materiales-modal"></div>
            </div>
        </div>
    </div>
</div>