/*
importamos componentes que es la configuración de la plantilla principal son (componenetes.css, dark.css y light.css)
esos son archivos generales y no se modifican 
 */
@import url("./core/dark.css");

/* variables.css */
:root {
    --color-background-dark: #1b1b1b;
    --color-background-dark2: #383838;
    --color-text-dark: white;
    --color-border: 1px solid rgba(128, 128, 128, 0.459);
    --color-table-thead: #292929;
}

/* card donde estan las graficas */
.card-chart{
    background: var(--color-background-dark);
    border: var(--color-border);
    color: var(--color-text-dark);
}
/* card donde estan los totales */
.card-t{
    background: var(--color-background-dark);
    border: var(--color-border);
    color: var(--color-text-dark);
}
/* todos los que tengan esta clase card van a tener este color */
.card{
    background: var(--color-background-dark);
    color: var(--color-text-dark);
    border: var(--color-border);
}
/* todos los card que tengan esta clase tendran este color de borde */
.card2{ border: 1px solid var(--btn-success);}
/* todos los card que tengan esta clase tendran este color y efecto de loader2 */
.card3{ 
    background: var(--color-background-dark);
    color: var(--color-text-dark);
    border: var(--color-border);
    border-left: 6px solid var(--btn-success);
    border-radius: 5px;
}
.loader2 {
    background: 
        radial-gradient(farthest-side, var(--btn-success) 94%,#0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, var(--btn-success));
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
}
/* todos los titulos que sean h3 seran blancos */
h3, h4{ color: var(--color-text-dark);}
/* todos los select tendran este color */
.form-select {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    border: 1px solid rgba(255, 255, 255, 0.2);
}
/* todos los form-control tendran este color */
.form-control{
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
/* Esto selecciona el icono interno del calendario */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    cursor: pointer;
}
/* todos los modales tendran este color */
.modal-content {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
}
/* todos los iconos seran de este color */
.icon-center {color: var(--color-text-dark);}
/* card segmento de la busqueda por modulo en pv*/
.card-segmento {
    background: var(--color-background-dark);
    border: 1px solid var(--btn-success);
    color: var(--color-text-dark);
}
/* todos los datatables tendran este color */
table thead tr th{
    background-color: var(--color-table-thead) !important;
    color: var(--color-text-dark) !important;
    border-bottom: 1px solid var(--btn-success) !important;
}
/* color de las filas de la tabla */
table tbody tr td{
  background-color: var(--color-background-dark2) !important;
  color: var(--color-dark) !important;
}
/* Hover en las filas de la tabla */
table tbody tr:hover td {
  background-color: var(--color-hover) !important; 
  color: var(--color-dark) !important;           
}