<!-- MODAL MODULOS TRABAJADORES -->
<div class="modal fade" id="modalxModulos" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="modal-title" id="tituloModalModulo"></h2>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <!-- Aquí se inyectan los bloques de segmentos (cada uno con porcentaje + desglose) -->
                    <div id="contenedorDetallesModulo" class="row g-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL MODULOS PARQUE VEHICULAR -->
<div class="modal fade" id="modalDetalleModuloPV" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="modal-title" id="tituloModalModuloPV"></h2>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div id="contenedorDetallesModuloPV" class="row g-4">
                        <!-- aqui dibujamos el desglose por modulo con cards dinamoscos -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>